<!--<div>-->
<!--  <input type="file" (change)="onFileChaged($event)"><br>-->
<!--  &lt;!&ndash; Khi nao thuc hien upload thi button nay moi hien, con co URL tuc upload thanh cong thi button nay an di&ndash;&gt;-->
<!--  <button *ngIf="downloadURL?!selectedFile:selectedFile" color="accent" (click)="onUpLoad()">Upload Image</button>-->

<!--  <div *ngIf="downloadURL" style="margin-bottom: 10px; margin-top: 10px">-->
<!--    <img [src]="downloadURL" style="width: 300px; height: auto">-->
<!--  </div>-->
<!--</div>-->

<div class="row">
  <div class="col-sm-5">
    <input type="file" (change)="onFileChaged($event)"><br>
  </div>
  <div class="col-sm-3">
    <div *ngIf="downloadURL" style="margin-top: 50px">
      <img [src]="downloadURL" style="width: auto; height: auto">
    </div>
  </div>
</div>
