
<div class="theme-layout">

  <div class="topbar stick">
    <div class="logo">
      <a title="" href="/home"><img src="assets/images/logo.png" alt=""></a>
    </div>
    <div class="top-area">
      <div class="top-search">
        <form method="post" class="">
          <input type="text" placeholder="Search Friend" style="width: 250px; height: 40px">
          <button data-ripple><i class="ti-search"></i></button>
        </form>
      </div>
      <ul class="main-menu">
        <li>
          <a href="#" title="">account settings</a>
          <ul>
            <li><a [routerLink]="['/edit-password']" routerLinkActive="router-link-active" title="">edit-password</a></li>
            <li><a [routerLink]="['/edit-profile']" routerLinkActive="router-link-active" title="">edit profile</a></li>
          </ul>
        </li>
        <li>
          <a>more pages</a>
          <ul>
            <li><a href="/404" title="">404 error page</a></li>
            <li><a href="/about" title="">about</a></li>
          </ul>
        </li>

        <img [src]="currentUser?.image" alt="" style="border-radius: 50%; width: 40px">
        <a href="/profile">{{currentUser.username}}</a>

      </ul>
      <div style="margin-top: 15px">
        <div style="margin-right: auto">
          <app-log-out></app-log-out>
        </div>
      </div>
    </div>
  </div><!-- topbar -->

  <section>
    <div class="gap2 gray-bg">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="row merged20" id="page-contents">
              <div class="col-lg-3">
                <aside class="sidebar static left">
                  <div class="widget">
                    <h4 class="widget-title">Shortcuts</h4>
                    <ul class="naves">
                      <li>
                        <i class="ti-clipboard"></i>
                        <a [routerLink]="['/home']" routerLinkActive="router-link-active" title="">News feed</a>
                      </li>
                      <li>
                        <i class="ti-user"></i>
                        <a  class="" data-ripple="" [routerLink]="['/profile']" routerLinkActive="router-link-active" title="">Profile</a>
                      </li>
                      <li>
                        <i class="ti-user"></i>
                        <a  class="" data-ripple="" [routerLink]="['/friends']" routerLinkActive="router-link-active" title="">friends</a>
                      </li>
                      <li>
                        <i class="ti-video-camera"></i>
                        <a class="" data-ripple="" [routerLink]="['/videos']" routerLinkActive="router-link-active" title="">videos</a>
                      </li>
                      <li>
                        <i class="ti-comments-smiley"></i>
                        <a class="" data-ripple="" [routerLink]="['/messages']" routerLinkActive="router-link-active" title="">Messages</a>
                      </li>
                      <li>
                        <i class="ti-bell"></i>
                        <a class="" data-ripple="" [routerLink]="['/notification']" routerLinkActive="router-link-active" title="">Notifications</a>
                      </li>
                      <li>
                        <i class="fa fa-bar-chart-o"></i>
                        <a class="" data-ripple="" [routerLink]="['/insights']" routerLinkActive="router-link-active" title="">insights</a>
                      </li>
                      <li>
                        <i class="ti-power-off"></i>
                        <a [routerLink]="['/logout']" routerLinkActive="router-link-active" title="">Logout</a>
                      </li>
                    </ul>
                  </div><!-- Shortcuts -->
                </aside>
              </div><!-- sidebar -->

              <div class="col-lg-6">
                <div class="loadMore">
                  <div class="central-meta item">
                    <div class="new-postbox">
                      <figure>
                        <img [src]="currentUser.image" alt="">
                      </figure>
                      <div class="newpst-input">
                        <form [formGroup]="postForm" (ngSubmit)="ngSubmit()">
                          <textarea formControlName="description" rows="2" placeholder="write something"></textarea>
                          <div class="attachments">
                            <ul>
                              <li>
                                <i class="fa fa-image"></i>
                                <label class="fileContainer">
                                  <app-upload-image (giveURLtoCreate)="onchangeAvatar($event)"></app-upload-image>
                                </label>
                              </li>
                              <li>
                                <button type="submit">Post</button>
                              </li>
                            </ul>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div><!-- add post new box -->
                </div><!-- centerl meta -->

                <!-- list post -->
                <div *ngIf="postList!= null">


                <div class="central-meta item" *ngFor="let post of postList">
                  <div class="user-post">
                    <div class="friend-info">
                      <figure>
                        <img [src]="post.user.image" alt="">
                      </figure>
                      <div class="friend-name">
                        <ins><a [routerLink]="['/profile/friend',post.user.id]" routerLinkActive="router-link-active" title="">{{post.user.username}}</a></ins>
                        <span>{{post.createDate | date:'short'}} </span>
                      </div>
                      <div class="description">
                        <p>
                          {{post.description}}
                        </p>
                      </div>
                      <div class="post-meta">
                        <div class="linked-image align-left">
                          <img src="{{post.image}}" alt="">
                        </div>
                        <div class="we-video-info">
                          <ul>
                            <li>
																<span class="comment" data-toggle="tooltip" title="Comments">
                                   <i (click)="clickIsComment()" class="ti-comments-smiley"> {{post.comment_count}}
                                   </i>
																</span>
                            </li>
                            <li>
                              <app-like-post [id]=post.id></app-like-post>

                            </li>

                            <li>
																<span class="like" data-toggle="tooltip" title="update" (click)="showDialog(post)">
                                   <i class="ti-pencil-alt" ></i>
																</span>
                            </li>

                            <li>
																<span class="like" data-toggle="tooltip" title="delete">
                                 <i class="ti-trash" (click)="deletepost(post.id)"></i>
																</span>
                            </li>
                            <app-comment (numberChange)="getListComment($event)" *ngIf="isComment" [postIdUpdate]="postIdUpdate" [id]=post.id></app-comment>
                          </ul>

                          <ul><br>
                            <!-- post comment -->
                            <li class="post-comment">
                              <div class="comet-avatar">
                                <img [src]="currentUser?.image" alt="">
                              </div>
                              <div class="post-comt-box">
                                <app-create-comment [id]=post.id
                                                    (getListCommentPost)="getListCommentPost($event)"></app-create-comment>

                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                </div>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="widget">
          <div class="foot-logo">
            <div class="logo">
              <a href="/home" title=""><img src="assets/images/logo.png" alt=""></a>
            </div>
            <p>
              The trio took this simple idea and built it into the world’s leading carpooling platform.
            </p>
          </div>
          <ul class="location">
            <li>
              <i class="ti-map-alt"></i>
              <p>Codegym VN</p>
            </li>
            <li>
              <i class="ti-mobile"></i>
              <p>+84-989665336</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="widget">
          <div class="widget-title"><h4>follow</h4></div>
          <ul class="list-style">
            <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/"
                                                         title="">facebook</a></li>
            <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a>
            </li>
            <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a></li>
            <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover"
                                                            title="">Google+</a></li>
            <li><i class="fa fa-pinterest-square"></i> <a href="https://www.pinterest.com/" title="">Pintrest</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="widget">
          <div class="widget-title"><h4>Navigate</h4></div>
          <ul class="list-style">
            <li><a href="about.html" title="">about us</a></li>
            <li><a href="contact.html" title="">contact us</a></li>
            <li><a href="terms.html" title="">terms & Conditions</a></li>
            <li><a href="#" title="">RSS syndication</a></li>
            <li><a href="sitemap.html" title="">Sitemap</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="widget">
          <div class="widget-title"><h4>useful links</h4></div>
          <ul class="list-style">
            <li><a href="#" title="">leasing</a></li>
            <li><a href="#" title="">submit route</a></li>
            <li><a href="#" title="">how does it work?</a></li>
            <li><a href="#" title="">agent listings</a></li>
            <li><a href="#" title="">view All</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="widget">
          <div class="widget-title"><h4>download apps</h4></div>
          <ul class="colla-apps">
            <li><a href="https://play.google.com/store?hl=en" title=""><i class="fa fa-android"></i>android</a></li>
            <li><a href="https://www.apple.com/lae/ios/app-store/" title=""><i class="ti-apple"></i>iPhone</a></li>
            <li><a href="https://www.microsoft.com/store/apps" title=""><i class="fa fa-windows"></i>Windows</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer><!-- footer -->


